---
title: Профиль
css:
- profile.less
---
{{!< base }}

<main class="profile">
  <img src="../images/empty_profile.png" alt="добавить фото">
  <h1 class="profile__name">Иван</h1>
  <div class="profile__block">
    <div class="profile__info">
      <span class="profile__info-label">Почта</span>
      <span class="profile__info-text">pochta@yandex.ru</span>
    </div>
    <div class="profile__info">
      <span class="profile__info-label">Логин</span>
      <span class="profile__info-text">ivanivanov</span>
    </div>
    <div class="profile__info">
      <span class="profile__info-label">Имя</span>
      <span class="profile__info-text">Иван</span>
    </div>
    <div class="profile__info">
      <span class="profile__info-label">Фамилия</span>
      <span class="profile__info-text">Иванов</span>
    </div>
    <div class="profile__info">
      <span class="profile__info-label">Имя в чате</span>
      <span class="profile__info-text">Иван</span>
    </div>
    <div class="profile__info">
      <span class="profile__info-label">Телефон</span>
      <span class="profile__info-text">255050</span>
    </div>
    <div class="profile__links">
      <div class="profile__info">
        <span class="profile__info-label__link">Изменить данные</span>
      </div>
      <div class="profile__info">
        <span class="profile__info-label__link">Изменить пароль</span>
      </div>
      <a href="#" class="profile__logout">Выйти</a>
    </div>
  </div>
</main>